.settings {
    width: 30%;
    float: left;
    height: 90%;
}
.settings div.holder {
    overflow-y: auto;
    max-height: 100%;
}
.clear{
    clear:both;
    text-align: right;
}
.step {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}
#advancedHolder {
    display: none;
}
span.prev {
    float:left;
}
span.next {
    float: right;
}
.close {
    float: right;
    cursor: pointer;
}
