<form method="post" action="">
    <fieldset>
        <legend>New User</legend>
        {if="isset($msg)"}
            {$msg['header']}<br>
            {if="isset($msg['items'])"}
                {loop="$msg['items']"}
                {$value}<br>
                
                {/loop}
            {/if}
        {/if}
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="name" value="{if="isset($_POST['name'])"}{$_POST['name']}{/if}"/></dd>
            
            <dt>Password</dt>
            <dd><input type="password" name="pass" value="{if="isset($_POST['pass'])"}{$_POST['pass']}{/if}"/></dd>
            
            <dt>Email</dt>
            <dd><input type="text" name="email" value="{if="isset($_POST['email'])"}{$_POST['email']}{/if}"/></dd>
        </dl>
        Don't forget to add the user to a group.
        <input type="submit" name="submit" value="add">
    </fieldset>
</form>