    <table id="modulelist">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Install</td>
        </tr>
    {if="isset($modules)"}
        {loop="$modules"}
            <tr>
                <td>{$value.module.name}</td>
                <td>{$value.module.description}</td>
                <td><a href="/acp/mngr/module/add?dirname={$value.filelink}">Installeren</a></td>
            </tr>
        {/loop}
    {else}
        <tr><td colspan=3>{$msg}</td></tr>
    {/if}
    </table>    
