<table>
    <tr style='text-align: left !important;'><th style="padding-right:5px;" width='25px'>aID</th><th style="padding-right:5px;" width='100px'>Article</th><th style="padding-right:5px;">Edit</th><th style="padding-right:5px;">Delete</th></tr>
{loop="$pageList"}
    <tr><td>{$value.ID}</td>
        <td>{$value.Name}</td>
        <td><a href="/acp/mngr/article/edit/?id={$value.ID}"><img src="/view/acp/img/edit.png#"></a></td>
            <td><a href="/acp/mngr/article/delete/?id={$value.ID}">X</a></td>
        </tr>
{/loop}
</table>