<!--<div id="headerTop">
    <div id="title">
        Skynet CMS
    </div>
</div>
<div id="menuHolder">
    <ul id="menu">
        <li>Overview</li>
        <li>User Manager</li>
        <li>Group Manager</li>
        <li>Page Manager</li>
        <li>Content manager</li>
        <li>System Settings</li>
    </ul>
</div>-->

<div id="header2">
    <div id="top">
            <a href="#"><img src="/view/acp/images/logo-transparent.png#" /></a>
        Skynet CMS
    </div>
    <div id="menu">
        <div id="begin"></div>
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="/acp/mngr/user/">User Manager</a></li>
            <li><a href="#">Group Manager</a></li>
            <li><a href="/acp/mngr/page/">Page Manager</a></li>
            <li><a href="/acp/mngr/module/">Module Manager</a></li>
            <li><a href="/acp/mngr/article/">Content manager</a></li>
            <li><a href="#">System Settings</a></li>
        </ul>
    </div>
</div>
<div id="item-bar"></div>