<form method="POST">
    <fieldset>
        <legend>Login</legend>
        {if="isset($msg)"}
                {$msg['header']}<br>
                {if="isset($msg['items'])"}
                    {loop="$msg['items']"}
                    {$value}<br>
                    
                    {/loop}
                {/if}
            {/if}
        <dl>
            <dt>Account</dt>
            <dd><input type='text' name='account' /></dd>
            <dt>Password</dt>
            <dd><input type='password' name='pass' /></dd>
        </dl>
        <input type='submit' name='login' value='ok' />
    </fieldset>
</form>