<!--<html lang="en">
<head>
   {if="isset($libs)"}{$libs}{/if}
</head> 
<body style="margin:0;padding:0;border:0;">
    <div id="header">{include="header"}</div>
    <div id="content">
        <div id="contentLeft">
            <ul>
            {loop="$cmsActions"}
                <li><a href="/acp/{$value}">{$key}</a></li>
            {/loop}
            </ul>
        </div>
        <div id="contentRight">{if="isset($contentTpl)"}{include="$contentTpl"}{else}{include="overview"}{/if}</div>
    </div>
    <div id="footer">{include="footer"}</div>
</body>
</html>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
    {if="isset($libs)"}{$libs}{/if}
</head>

<body>
<div id="header">
    {include="header"}
</div>
<div id="content">
	<div id="left">
    	<ul>
        {loop="$cmsActions"}
            <li><a href="/acp/{$value}">{$key}</a></li>
        {/loop}
        </ul>
    </div>
    <div id="right">{if="isset($contentTpl)"}{include="$contentTpl"}{else}{include="overview"}{/if}</div>
    <br class="cf"/>
</div>
</body>
</html>
