<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
    {if="isset($libs)"}{$libs}{/if}
</head>

<body>
<div id="header">
    {include="header"}
</div>
<div id="content">
	<div id="left">
    	<ul>
        {loop="$cmsActions"}
            <li><a href="/acp/{$value}">{$key}</a></li>
        {/loop}
        </ul>
    </div>
    <div id="right">{if="isset($contentTpl)"}{include="$contentTpl"}{else}{include="overview"}{/if}</div>
    <br class="cf"/>
</div>
{if="isset($debugTxt)"}<div class='debug'>{$debugTxt}</div>{/if}
</body>
</html>
