
    <fieldset>
        <legend>Edit - {$pageName}</legend>
        {if="isset($msg)"}
            {$msg['header']}<br>
            {if="isset($msg['items'])"}
                {loop="$msg['items']"}
                {$value}<br>
                
                {/loop}
            {/if}
        {/if}
        <dl><form action="" method="POST">
            <dt>Page name</dt>
            <dd><input type='hidden' name='pID' value='{$pID}' /><input type='text' name='pName' value="{$pageName}" /></dd>
            <dt>Visible in menu</dt>
            <dd><label><input name='visible' type='radio' {if="$pVis=='1'"}checked='checked'{/if} value='true' />
 Yes</label> <label><input name='visible' type='radio' {if="$pVis=='0'"}checked='checked'{/if} value='false' /> No</label></dd>
            <dt>Position</dt>
            <dd><input name='position' type='text' value='{$pagePos}' /></dd>
            <dt>Page template</dt>
            <dd><select name='template'>
            {$templateSelectMenu}</select></dd>
        </dl>
        <input name='Update' type='submit' value='Update' />
        </form><form action='' method='POST' />
            <dl>
                <dt>Page Content</dt>
                <dd><select name='cDelete'>
                    {$contentList}
                </select></dd>
            </dl>
            <input type='hidden' name='pID' value='{$pID}' />
            <input name='Delete' type='submit' value='Delete' />
        </fieldset>
    </fieldset>
</form>