<form action="" method="POST">
    <fieldset>
        <legend>Create new page</legend>
        {if="isset($msg)"}
            {$msg['header']}<br>
            {if="isset($msg['items'])"}
                {loop="$msg['items']"}
                {$value}<br>
                
                {/loop}
            {/if}
        {/if}
        <dl>
            <dt>Page name</dt>
            <dd><select name='pid'>{$pagesSelectMenu}</select></dd>
            <dd><select name="content">
            {$contentSelectMenu}</select></dd>
            <dt>Page template</dt>
        </dl>
        <input name='submit' type='submit' value='Link content' />
    </fieldset>
</form>