<form method="post" action="">
    <fieldset>
        <legend>Edit User</legend>
        {if="isset($msg)"}
            {$msg['header']}<br>
            {if="isset($msg['items'])"}
                {loop="$msg['items']"}
                {$value}<br>
                
                {/loop}
            {/if}
        {/if}
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="name" value="{if="isset($_POST['name'])"}{$_POST['name']}{else}{$user['Name']}{/if}"/></dd>
            
            <dt>Password</dt>
            <dd><input type="password" name="pass" value="{if="isset($_POST['pass'])"}{$_POST['pass']}{else}dummypass{/if}"/></dd>
            
            <dt>Email</dt>
            <dd><input type="text" name="email" value="{if="isset($_POST['email'])"}{$_POST['email']}{else}{$user['Email']}{/if}"/></dd>
        </dl>
        <input type="submit" name="submit" value="edit">
    </fieldset>
</form>