@charset "UTF-8";
body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0px;
	padding:0px;
}
#header {
	height: 15%;
	min-height: 125px;
	position: relative;
	width: 100%;
}
#header2 {
	background:url(../images/barmenu.png) repeat-x bottom;
}
#header #header2 #top {
	background:url(../images/bgbartop.png) repeat-x;
	width:100%;
	height:57px;
	color:#FFFFFF;
	font-size:12px;	
}
#header #header2 #menu {
	background:url(../images/menstripe.jpg) no-repeat right;
	height:38px;
	line-height: 33px;
}
#header #header2 #menu #begin {
	background:url(../images/menstripe.jpg) no-repeat left;
	height:38px;
	width:14px;	
	float:left;
	padding-right:5px;
}
#header #item-bar {
	background:url(../images/bartit.jpg) repeat-x;
	height:30px;
}
#content {
	width:100%;
	height: 85%;
	position:relative;
}
#content #left {
	float:left;
	width:25%;
	height: 100%;
	border-right:solid #c6c6c6 1px;
}
#content #right {
	padding-left: 20px;
	float:left;
	height: 100%;
	width: 70%;
}
#menu ul {
	float:left;
	margin:0px;
	padding:0px;
}
#menu ul li {
	margin:0px;
	list-style-type:none;
	float:left;
	height: 33px;
}

#menu ul li:first-child
{
	margin-left: 12px;
}

#menu ul li:after
{
	content: ' | ';
	margin-left: 12px;
	margin-right: 12px;
	color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#menu ul li a {
	color:#FFFFFF;
	font-size:16px;
	 text-decoration:none;
	 text-transform:capitalize;	
}
.cf {
	clear:both;	
}
#top img {
	border:0px;
	margin: 4px;
}
#left ul {
	list-style: none;
	margin:0px;
	padding:0px;
}
#left ul li {
	background:url(../images/menu-sub.jpg) repeat-x;	
}
#left ul li:hover {
	background:url(../images/menu-sub-blue.jpg) repeat-x;		
}
#left ul li a {
	padding-left:15px;
	display:block;
	height:20px;
	width:90%;
	background:url(../images/arrow.png) no-repeat right;
	text-decoration: none;
	color: #000;
}

.overviewBlock {
	float: left;
	width: 350px;
	height: 300px;
}
.overviewBlock div {
	height: 98%;
	overflow-y: auto;
	overflow-x: auto;
}

.error {
	font-family: monospace;
	color: #990000;
	font-style: italic;
}
